@model List<Producto>

@{
    ViewData["Title"] = "Recetas";
}

<section class="recetas-section py-5" style="background-color: #fff7ec;">
    <div class="container text-center">
        <h2 class="mb-4 fw-bold">Recetas para elegir</h2>
        <p class="mb-5">Elegí entre nuestras opciones semanales, listas para cocinar.</p>

        <div class="row justify-content-center">
            @foreach (Producto producto in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="ratio ratio-4x3">
                            <img src="@producto.ImagenUrl" class="img-fluid rounded-top object-fit-cover" alt="@producto.Nombre">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold">@producto.Nombre</h5>
                            @if (producto.PrecioDescuento < producto.Precio)
                            {
                                <p class="card-text text-success fs-5">
                                    $@producto.PrecioDescuento
                                    <span class="text-muted text-decoration-line-through fs-6 ms-2">
                                        $@producto.Precio
                                    </span>
                                </p>
                            }
                            else
                            {
                                <p class="card-text text-dark fs-5">
                                    $@producto.Precio
                                </p>
                            }
                            <a asp-controller="Recetas" asp-action="Ingredientes" asp-route-id="@producto.Id" class="btn btn-outline-success">Ver Ingredientes</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>